In [1]:
import pandas as pd
import dec
from epw import epw

In [2]:
meteo_df=pd.read_csv('./Raw_epw/IOSLOOSL9_from_2016-01-01_to_2016-12-31',index_col='Date_Time',parse_dates=[0,])
meteo_df.head()

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm,UV,Solar_W/m2
Date_Time,,,,,,,,,,,
2016-01-01 00:00:00,1.611111,1.333333,98,90.0,2.682164,4.023245,102291.06,0.0,0.0,0.0,0
2016-01-01 00:09:00,1.611111,1.333333,98,90.0,2.682164,6.258382,102291.06,0.0,0.0,0.0,0
2016-01-01 00:20:00,1.666667,1.333333,98,90.0,0.894055,2.682164,102291.06,0.0,0.0,0.0,0
2016-01-01 00:29:00,1.722222,1.444444,98,45.0,0.447027,3.576218,102291.06,0.0,0.0,0.0,0
2016-01-01 00:39:00,1.722222,1.444444,98,90.0,0.447027,2.682164,102291.06,0.0,0.0,0.0,0

In [3]:
meteo=meteo_df.resample('H').mean().interpolate()
meteo.head()

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm,UV,Solar_W/m2
Date_Time,,,,,,,,,,,
2016-01-01 00:00:00,1.675926,1.388889,98.0,82.50,1.639100,3.799732,102291.06,0.000000,0.000000,0.0,0.0
2016-01-01 01:00:00,1.675926,1.388889,98.0,82.50,1.639100,3.799732,102291.06,0.000000,0.000000,0.0,0.0
2016-01-01 02:00:00,1.824074,1.546296,98.0,63.75,0.968559,3.129191,102291.06,0.000000,0.000000,0.0,0.0
2016-01-01 03:00:00,1.972222,1.694444,98.0,75.00,0.670541,2.905677,102358.78,0.000000,0.000000,0.0,0.0
2016-01-01 04:00:00,2.000000,1.722222,98.0,82.50,0.521532,2.980182,102426.50,0.211667,1.058333,0.0,0.0

In [4]:
### To comment if year is NOT 2016
meteo=meteo.drop(pd.date_range(start = '2016-02-29', end = '2016-03-01',freq='H',closed='left'))

In [5]:
file=pd.read_csv('./Solar_Radiations/2016.csv')
meteo['Solar_W/m2']=file['GHI'].values
meteo
file['GHI']
file['DNI']
file['DHI']

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm,UV,Solar_W/m2
Date_Time,,,,,,,,,,,
2016-01-01 00:00:00,1.675926,1.388889,98.0,82.50,1.639100,3.799732,102291.06,0.000000,0.000000,0.0,0
2016-01-01 01:00:00,1.675926,1.388889,98.0,82.50,1.639100,3.799732,102291.06,0.000000,0.000000,0.0,0
2016-01-01 02:00:00,1.824074,1.546296,98.0,63.75,0.968559,3.129191,102291.06,0.000000,0.000000,0.0,0
2016-01-01 03:00:00,1.972222,1.694444,98.0,75.00,0.670541,2.905677,102358.78,0.000000,0.000000,0.0,0
2016-01-01 04:00:00,2.000000,1.722222,98.0,82.50,0.521532,2.980182,102426.50,0.211667,1.058333,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,4.685185,4.407407,98.0,120.00,0.894055,1.564595,100665.78,0.000000,0.000000,0.0,0
2016-12-31 20:00:00,4.194444,3.916667,98.0,45.00,1.564595,2.682164,100699.64,0.000000,0.000000,0.0,0
2016-12-31 21:00:00,3.777778,3.500000,98.0,93.75,0.521532,2.086127,100699.64,0.000000,0.000000,0.0,0
2016-12-31 22:00:00,3.777778,3.500000,98.0,30.00,0.670541,1.862614,100699.64,0.000000,0.000000,0.0,0
2016-12-31 23:00:00,2.527778,2.250000,98.0,67.50,0.521532,1.341082,100665.78,0.000000,0.000000,0.0,0

In [6]:
meteo.columns
meteo.index

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-12-31 14:00:00', '2016-12-31 15:00:00',
               '2016-12-31 16:00:00', '2016-12-31 17:00:00',
               '2016-12-31 18:00:00', '2016-12-31 19:00:00',
               '2016-12-31 20:00:00', '2016-12-31 21:00:00',
               '2016-12-31 22:00:00', '2016-12-31 23:00:00'],
              dtype='datetime64[ns]', name='Date_Time', length=8760, freq=None)

In [7]:
latitude = 59.9138688  # latitude  N
longitude = 10.7522454  # longitude E
elevation = 23  # meters above the sea

In [8]:
rad=pd.DataFrame(meteo['Solar_W/m2'].values,index=meteo.index,columns=['GHI'])

In [9]:
rad=dec.main(rad,latitude,longitude,elevation)

/home/ict4bd/Downloads/myenv/lib/python3.8/site-packages/pandas/core/series.py:726: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/ict4bd/Desktop/Materials ICT/ipython/weather_data/dec.py:240: RuntimeWarning: invalid value encountered in double_scalars
  df['k_b'] = df['DNI']/df['DNI_clear']
/home/ict4bd/Desktop/Materials ICT/ipython/weather_data/dec.py:241: RuntimeWarning: invalid value encountered in double_scalars
  df['k_d'] = df['DHI']/df['DHI_clear']

In [10]:
rad

                     GHI  DNI  DHI
Date_Time
2016-01-01 00:00:00  0.0  0.0  0.0
2016-01-01 01:00:00  0.0  0.0  0.0
2016-01-01 02:00:00  0.0  0.0  0.0
2016-01-01 03:00:00  0.0  0.0  0.0
2016-01-01 04:00:00  0.0  0.0  0.0
...                  ...  ...  ...
2016-12-31 19:00:00  0.0  0.0  0.0
2016-12-31 20:00:00  0.0  0.0  0.0
2016-12-31 21:00:00  0.0  0.0  0.0
2016-12-31 22:00:00  0.0  0.0  0.0
2016-12-31 23:00:00  0.0  0.0  0.0

[8760 rows x 3 columns]

In [11]:
data=epw()
data.read('NOR_Oslo.Fornebu.014880_IWEC.epw')

In [12]:
head=data.headers # this is a dictionary of the header information
print(head)

{'LOCATION': ['OSLO/FORNEBU', '-', 'NOR', 'IWEC Data', '014880', '59.90', '10.62', '1.0', '17.0'], 'DESIGN CONDITIONS': ['1', 'Climate Design Data 2009 ASHRAE Handbook', '', 'Heating', '1', '-17.2', '-14.5', '-19.9', '0.6', '-16', '-17', '0.8', '-12.9', '10.6', '5.4', '9.4', '4.2', '0.8', '0', 'Cooling', '7', '8.8', '26.8', '17.8', '25', '17', '23.2', '15.9', '19.2', '24.1', '18.2', '23.1', '17.1', '21.6', '3.2', '170', '17.7', '12.7', '20.6', '16.2', '11.5', '19.4', '15.2', '10.8', '18.5', '54.5', '23.7', '51.2', '23.1', '48.1', '21.3', '894', 'Extremes', '8.5', '7.3', '6.4', '24.3', '-18.7', '29.5', '4.2', '2.7', '-21.7', '31.4', '-24.2', '33', '-26.5', '34.5', '-29.6', '36.4'], 'TYPICAL/EXTREME PERIODS': ['6', 'Summer - Week Nearest Max Temperature For Period', 'Extreme', '7/27', '8/ 2', 'Summer - Week Nearest Average Temperature For Period', 'Typical', '8/ 3', '8/ 9', 'Winter - Week Nearest Min Temperature For Period', 'Extreme', '1/13', '1/19', 'Winter - Week Nearest Average Temperature For Period', 'Typical', '2/17', '2/23', 'Autumn - Week Nearest Average Temperature For Period', 'Typical', '10/27', '11/ 2', 'Spring - Week Nearest Average Temperature For Period', 'Typical', '3/29', '4/ 4'], 'GROUND TEMPERATURES': ['3', '.5', '', '', '', '-2.98', '-1.17', '2.35', '5.68', '11.99', '15.31', '16.23', '14.55', '10.66', '5.81', '1.03', '-2.12', '2', '', '', '', '-0.49', '-0.04', '1.96', '4.20', '9.05', '12.15', '13.69', '13.34', '11.13', '7.78', '4.01', '1.05', '4', '', '', '', '2.09', '1.78', '2.66', '3.93', '7.13', '9.53', '11.09', '11.47', '10.50', '8.53', '5.97', '3.66'], 'HOLIDAYS/DAYLIGHT SAVINGS': ['No', '0', '0', '0'], 'COMMENTS 1': ["IWEC- WMO#014880 - Europe -- Original Source Data (c) 2001 American Society of Heating, Refrigerating and Air-Conditioning Engineers (ASHRAE), Inc., Atlanta, GA, USA.  www.ashrae.org  All rights reserved as noted in the License Agreement and Additional Conditions. DISCLAIMER OF WARRANTIES: The data is provided 'as is' without warranty of any kind, either expressed or implied. The entire risk as to the quality and performance of the data is with you. In no event will ASHRAE or its contractors be liable to you for any damages, including without limitation any lost profits, lost savings, or other incidental or consequential damages arising out of the use or inability to use this data."], 'COMMENTS 2': [' -- Ground temps produced with a standard soil diffusivity of 2.3225760E-03 {m**2/day}'], 'DATA PERIODS': ['1', '1', 'Data', 'Sunday', ' 1/ 1', '12/31']}

In [13]:
df=data.dataframe.copy()  # this is pandas dataframe

In [14]:
df.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute',
       'Data Source and Uncertainty Flags', 'Dry Bulb Temperature',
       'Dew Point Temperature', 'Relative Humidity',
       'Atmospheric Station Pressure', 'Extraterrestrial Horizontal Radiation',
       'Extraterrestrial Direct Normal Radiation',
       'Horizontal Infrared Radiation Intensity',
       'Global Horizontal Radiation', 'Direct Normal Radiation',
       'Diffuse Horizontal Radiation', 'Global Horizontal Illuminance',
       'Direct Normal Illuminance', 'Diffuse Horizontal Illuminance',
       'Zenith Luminance', 'Wind Direction', 'Wind Speed', 'Total Sky Cover',
       'Opaque Sky Cover (used if Horizontal IR Intensity missing)',
       'Visibility', 'Ceiling Height', 'Present Weather Observation',
       'Present Weather Codes', 'Precipitable Water', 'Aerosol Optical Depth',
       'Snow Depth', 'Days Since Last Snowfall', 'Albedo',
       'Liquid Precipitation Depth', 'Liquid Precipitation Quantity'],
      dtype='object')

In [15]:
df['Year']=2016
df

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,2016,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-10.6,-11.9,89,100600,...,77777,9,999999999,0,0.030,0,88,0.0,0.0,0.0
1,2016,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-8.4,-9.6,90,100500,...,77777,9,999999999,0,0.030,0,88,0.0,0.0,0.0
2,2016,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-6.8,-7.9,91,100400,...,77777,9,999999999,0,0.030,0,88,0.0,0.0,0.0
3,2016,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,-6.0,-7.0,92,100400,...,240,0,999099999,0,0.030,0,88,0.0,0.0,0.0
4,2016,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-5.6,-6.5,93,100400,...,240,9,999999999,0,0.030,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2016,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-16.5,-18.4,84,100900,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8756,2016,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-16.6,-18.4,84,100900,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8757,2016,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,-16.2,-18.0,85,100900,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8758,2016,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-15.0,-16.6,86,100800,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8759,2016,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-13.0,-14.4,88,100700,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0

In [16]:
meteo.columns

Index(['Temperature_C', 'Dew_Point_C', 'Humidity', 'Wind', 'Speed_m/s',
       'Gust_m/s', 'Pressure_Pa', 'Precip_Rate_mm', 'Precip_Accum_mm', 'UV',
       'Solar_W/m2'],
      dtype='object')

In [17]:
df['Dry Bulb Temperature']=meteo.Temperature_C.values

In [18]:
df['Dew Point Temperature']=meteo.Dew_Point_C.values

In [19]:
df['Atmospheric Station Pressure']=meteo.Pressure_Pa.values

In [20]:
df['Relative Humidity']=meteo.Humidity.values

In [21]:
df['Global Horizontal Radiation']=rad.GHI.values

In [22]:
df['Direct Normal Radiation']=rad.DNI.values

In [23]:
df['Diffuse Horizontal Radiation']=rad.DHI.values

In [24]:
df['Wind Direction']=meteo['Speed_m/s'].values

In [25]:
df['Wind Speed']=meteo['Speed_m/s'].values

In [26]:
df.head()

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,2016,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,1.675926,1.388889,98.0,102291.06,...,77777,9,999999999,0,0.03,0,88,0.0,0.0,0.0
1,2016,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,1.675926,1.388889,98.0,102291.06,...,77777,9,999999999,0,0.03,0,88,0.0,0.0,0.0
2,2016,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,1.824074,1.546296,98.0,102291.06,...,77777,9,999999999,0,0.03,0,88,0.0,0.0,0.0
3,2016,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,1.972222,1.694444,98.0,102358.78,...,240,0,999099999,0,0.03,0,88,0.0,0.0,0.0
4,2016,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,2.000000,1.722222,98.0,102426.50,...,240,9,999999999,0,0.03,0,88,0.0,0.0,0.0

In [27]:
data.dataframe.head()

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,1991,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-10.6,-11.9,89,100600,...,77777,9,999999999,0,0.03,0,88,0.0,0.0,0.0
1,1991,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-8.4,-9.6,90,100500,...,77777,9,999999999,0,0.03,0,88,0.0,0.0,0.0
2,1991,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-6.8,-7.9,91,100400,...,77777,9,999999999,0,0.03,0,88,0.0,0.0,0.0
3,1991,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,-6.0,-7.0,92,100400,...,240,0,999099999,0,0.03,0,88,0.0,0.0,0.0
4,1991,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,-5.6,-6.5,93,100400,...,240,9,999999999,0,0.03,0,88,0.0,0.0,0.0

In [28]:
data.dataframe=df.copy()

In [29]:
data.headers['LOCATION']

['OSLO/FORNEBU',
 '-',
 'NOR',
 'IWEC Data',
 '014880',
 '59.90',
 '10.62',
 '1.0',
 '17.0']

In [30]:
data.write('./my_epw_files/my_epw_file_2016_new.epw')

In [31]:
data.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Ceiling Height,Present Weather Observation,Present Weather Codes,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity
0,2016,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,1.675926,1.388889,98.0,102291.06,...,77777,9,999999999,0,0.030,0,88,0.0,0.0,0.0
1,2016,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,1.675926,1.388889,98.0,102291.06,...,77777,9,999999999,0,0.030,0,88,0.0,0.0,0.0
2,2016,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,1.824074,1.546296,98.0,102291.06,...,77777,9,999999999,0,0.030,0,88,0.0,0.0,0.0
3,2016,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,1.972222,1.694444,98.0,102358.78,...,240,0,999099999,0,0.030,0,88,0.0,0.0,0.0
4,2016,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,2.000000,1.722222,98.0,102426.50,...,240,9,999999999,0,0.030,0,88,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2016,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,4.685185,4.407407,98.0,100665.78,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8756,2016,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,4.194444,3.916667,98.0,100699.64,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8757,2016,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.777778,3.500000,98.0,100699.64,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8758,2016,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,3.777778,3.500000,98.0,100699.64,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0
8759,2016,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,2.527778,2.250000,98.0,100665.78,...,22000,9,999999999,0,0.032,34,88,0.0,0.0,0.0

In [32]:
data.dataframe.to_csv('file.csv')